/* Imports */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

/* Generals */
body{
    margin: 0px;
    font-family: Open Sans;
    font-size: 13px;
    color: #58595b;
    font-weight: 300;
}

h1, h2, h3, h4{
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}

h1{
    font-size: 33px;
}

h2{
    font-size: 1,8em;
    font-weight: 500;
}

/* Session blocks */

#header{
    padding: 1px;
    background: #fff;
    border-bottom: solid 4px #C2FC74;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#analisys{
    position: fixed;
    top: 0px;
    right: 0px;
    color: #000 ;
    background-color: #b3b3b3;
    font-size: 15px;
    padding: 3px 20px 5px 20px;
    z-index: 2000;
}

#feature{
    font-size: 35px;
    background: url(../images/bg-enviroment.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    position: relative;
}

#feature-text{
    background-color: #333;
    opacity: 0.7;
    text-align: center;
    padding: 40px;
    color: #fff;
    position: relative;
    top: 220px;
}

.blue{
    color: #4AB0CE;
}

#why, #how, #code{
    font-size: 35px;
    padding: 120px;
    text-align: center;
}

#why{
    color: #fff;
    background-color: #4AB0CE;
    background-image: url(../images/question-bg.png);
}

#how{
    color: #000 ;
    background-color: #C2FC74;
    background-image: url(../images/man-bg.png);
}

#buttonGo {
    height: 60px;
    width: 40%;
    border-radius: 40px;
    border: none;
    font-size: 23px;
    background-color: #666;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    font-family: "Open Sans";
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);

}

#code{
    color: #000 ;
    background-color: #FFCE0D;
    background-image: url(../images/answer-bg.png);
}

#footer{
    background-color: #000;
    color: #FFFFFF;
    height: 32px;
    padding: 20px 0px 0px 200px;
    background-image: url(../images/dynadrop-logo.png);
    background-repeat: no-repeat;
    height: 34px;
}

a{
    color: #fff;
}